<%= form_for [:admin, @item] do |form| %>
<%= render "layouts/errors" , object: @item%>

  <p>
    <div class='labels'><%= form.label :name %>:</div>
    <%= form.text_field :name %>
  </p>
  <p>
    <div class='labels'><%= form.label :description %>:</div>
    <%= form.text_area :description %>
  </p>
  <p>
    <div class='labels'><%= form.label :status %>:</div>
    <%= form.select :status, options_for_select([ 'Active', 'Retired'], 'True') %>
  </p>
  <p>
    <div class='labels'><%= form.label :price %>:</div>
    <%= form.text_area :price %>
  </p>

  <h2> Edit Item-Categories </h3>

  <p>
    <%= form.label :image %>:
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.hidden_field (:item, :store_id, ) %>
    <%= form.hidden_field :store_id %>
  </p>

  <p> Current Categories:</p>

  <ul id='collection' >
    <%= form.collection_check_boxes :category_ids, @categories, :id, :name %>
  </ul>
  <p id="form_button" class='save'>
    <%= form.submit 'Save' %>
  </p>
<% end %>
