<%= form_for [:admin, @item] do |form| %>
  <p>
    <%= form.label :name %>:
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %>:
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :status %>:
    <%= form.select :status, options_for_select([ 'Active', 'Retired'], 'True') %>
  </p>
  <p>
    <%= form.label :price %>:
    <%= form.text_area :price %>
  </p>

  <h2> Edit Categories </h3>

  <p> Current Categories:</p>

  <ul>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </ul>

  <p>
    <%= form.label :image %>:
    <%= form.file_field :image %>
  </p>

  <%= form.submit 'Save' %>

  <%= link_to "Cancel", admin_items_path %>
<% end %>
