<%= render "layouts/errors", object: @store %>

<div class="container">

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="store_settings">
      <h4 class="page-header">Store Request</h4>
        <%= bootstrap_form_for @store, url: {action: "create"} do |f| %>
        <%= f.text_field :name %>
        <%= f.text_area  :description %>
        <%= f.text_field :slug, placeholder: "example: louies_ck_for_men" %>
        <%= f.file_field :image %>
        <%= f.text_area  :request_message, placeholder: "Why do you want to sell on dope threads?" %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.submit class: "btn btn-success" %>
      <% end %>
    </div>
