<h1>Orders</h1>


<table class='tg'>



  <tr id='orders'>
    <td>
      <%= link_to "Paid (#{ @all.paid.count })",
                   admin_orders_path(status: "paid") %></td>
    <td>
     <%= link_to "Completed (#{ @all.completed.count })",
                  admin_orders_path(status: "completed") %></td>
    <td>
     <%= link_to "Canceled (#{ @all.canceled.count })",
                  admin_orders_path(status: "canceled") %></td>
    <td>
     <%= link_to "Ordered (#{ @all.ordered.count })",
                  admin_orders_path(status: "ordered") %></td>
      <td>
        <%= link_to 'View All Orders', admin_orders_path %>
      </td>
  </tr>
</table><br>

<table class='tg'>

  <th>
    Order For:
  </th>
  <th>
    Status:
  </th>
  <th>
    Status Change Options
  </th>


    <% @orders.each do |order| %>
  <tr id='shown-orders'>
      <td><%= link_to "#{ order.user.full_name }",
                  admin_order_path(order.id) %></td>
      <td><%= link_to "#{ order.status }",
                  admin_order_path(order.id) %></td>
      <td class="order-buttons">
        <%  if order.status == 'ordered' %>
          <%= button_to "Cancel", admin_order_path(order, order: { status: 'canceled' }), method: :patch %>
          <%= button_to "Mark As Paid", admin_order_path(order, order: { status: 'paid' }), method: :patch %>
        <%  elsif order.status == 'paid' %>
          <%= button_to "Cancel", admin_order_path(order, order: { status: 'canceled' }), method: :patch %>
          <%= button_to "Mark As Completed", admin_order_path(order, order: { status: 'completed' }), method: :patch %>
        <% end %><br>
      </td>
    <% end %>
  </tr>
</table>
