
<div id="sidebar">
  <%= link_to "Paid (#{ @all.paid.count })",
               admin_orders_path(status: "paid") %>

 <%= link_to "Completed (#{ @all.completed.count })",
              admin_orders_path(status: "completed") %>

 <%= link_to "Canceled (#{ @all.canceled.count })",
              admin_orders_path(status: "canceled") %>

 <%= link_to "Ordered (#{ @all.ordered.count })",
              admin_orders_path(status: "ordered") %>

</div>

<div id="orders">
  <p>
    Order For:
    <% @orders.each do |order| %>
      <%= link_to "#{ order.id } - #{ order.user.full_name }",
                  admin_order_path(order.id) %>
    <% end %>
  </p>
</div>

<%= link_to 'View All Orders', admin_orders_path %>
