

<div align="center">
  <h1>Contact Us! </h1>
  <h3> We'd love to hear your questions or comments.</h3>


      <div >
        <%= simple_form_for @contact, url: contact_us_path, method: :post, html: {class: 'contact-us-form' } do |f| %>

        <div class="contact-us-form-line"
          <%= f.input :name  %>
        </div>

        <div class="contact-us-form-line"
          <%= f.input :email   %>
        </div>

        <div class="contact-us-form-line"
          <%= f.input :message, as: :text, input_html: { id: "form-message" } %>
        </div>


      <div class= "hidden">
        <%= f.input :nickname, hint: 'Leave this field blank!' %>
      </div>

      <div>
      </br>
        <div id="form-message-btn">
        <%= f.button :submit, 'Send message' %>
      </div>
      </div>
      <% end %>
    </div>
  </div>
