news and blog

<h2>Lone Climber</h2>

<p>
(CNN) -- At Camp 3 of Mount Everest at an altitude of 7,200 meters, an American woman, 50-year-old Cleonice Pacheco Weidlich, sits in a solitary tent.
Outside, fierce winds of more than 50 knots are raging.
She waits...
<div>
  <p>
  <%= link_to 'Read More', 'http://www.cnn.com/2014/05/26/travel/mount-everest-american-climber/' %>
  </p>
</div>
</p>

<h2>Mountaineering Gear </h2>

<div>
  Where should you purchase the gear that will hold up in the toughest elements? Here are a couple of suggestions:
  <p>
    <%= link_to 'Mountaingear', 'http://www.mountaingear.com' %>
  </p>
  <p>
    <%= link_to 'REI', 'http://www.rei.com' %>
  </p>
  <p>
    <%= link_to 'Pategonia', 'http://www.patagonia.com/us/home' %>
  </p>
</div>

<h2>Dangerous Climbs</h2>

<p>
    The mountaineers were giddy as the sunrise revealed the conditions they had been so patiently waiting for: a clear, cloudless sky blanketing the Rooftop of the World. It was Aug. 1, 2008, and the two-dozen extreme sportsmen had been biding their time in the hopes of summiting K2, the second-highest peak in the world and one of the most challenging and dangerous climbs there is. After weeks of delay, the window had arrived...
    <div>
      <p>
        <%= link_to 'Read More',  'http://www.popularmechanics.com/outdoors/survival/stories/the-summit-what-goes-wrong-at-the-rooftop-of-the-world-15998020' %>
      </p>
    </div>
</p>
