<table class='tg'>
  <tr>
    <th>
      Purchasers Email:
    </th>
    <th>
      Purchasers Name:
    </th>
    <th>
      Ordered At:
    </th>
    <th>
      Roughly Ordered At:
    </th>
  </tr>
  <tr>
    <td>
      <%= @order.user.email_address %>
    </td>
    <td>
      <%= @order.user.full_name %>
    </td>
    <td>
      <%= @order.created_at.strftime("%d %b. %Y")%>, <%= @order.created_at.strftime("%l:%M %p") %>
    </td>
    <td>
      <%= time_ago_in_words(@order.created_at) %> ago.
    </td>
  </tr>
</table><br>

<table class='tg'
  <tr>
    <th>
      Order status:
    </th>
    <th>
      Items Ordered:
    </th>
    <th>
      Item Price:
    </th>
    <th>
      Delete Option:
    </th>
    <th>
      Update Quantity:
    </th>
    <th>
      Quantity:
    </th>
  </tr>
  <tr>
    <td><%= @order.status %></td>
    <% @order.order_items.each do |order_item| %></td>
      <td><%= link_to order_item.item.name, item_path(order_item.item.id) %></td>
        <td><%= number_to_currency(order_item.item.price) %></td>

        <% if @order.status == 'ordered' || @order.status == 'paid' %>
          <td><%= button_to 'Delete', admin_order_item_path(order_item.id), :method => :delete %></td>
          <%= form_tag admin_order_item_path(order_item.id), :method => :put do  %>
          <%= hidden_field_tag "order_item[item_id]", order_item.id %>
          <td><%= number_field_tag "order_item[quantity]", order_item.quantity, :min => 1, :max => 100 %>
          <%= submit_tag "update" %>
          <% end %>
        <% end %></td>
      <td><%= order_item.quantity %></td>
  </tr>
</table><br>
<table class='tg'>
  <tr>
    <th>
      Subtotal:
    </th>
    <th>
      Total Price:
    </th>
    <th>
      Options:
    </th>
  </tr>
  <tr>
    <% end %>
    <td><%= number_to_currency(@order.subtotal)%></td>
    <td><%= number_to_currency(@order.total)%></td>


    <td class="order-buttons">
      <%  if @order.status == 'ordered' %>
        <%= button_to "Cancel", edit_seller_order_path(@order, order: { status: 'canceled' }), method: :patch %>
        <%= button_to "Mark As Paid", edit_seller_order_path(@order, order: { status: 'paid' }), method: :patch %>
      <%  elsif @order.status == 'paid' %>
        <%= button_to "Cancel", edit_seller_order_path(@order, order: { status: 'canceled' }), method: :patch %>
        <%= button_to "Mark As Completed", edit_seller_order_path(@order, order: { status: 'completed' }), method: :patch %>
      <% end %><br>
    </td>
  </tr>
</table>
