<div class="container">
  <h2>Store Admin</h2>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#active_stores"
      role="tab" data-toggle="tab">Active Stores</a></li>
    <li role="presentation"><a href="#inactive_stores" role="tab" data-toggle="tab">Inactive Stores</a></li>
    <li role="presentation"><a href="#pending_approval" role="tab" data-toggle="tab">Stores Waiting Approval</a></li>
  </ul>

  <div class="container">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="active_stores">
        <h4 class="page-header">Active Stores</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Slug</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody id="admin_categories_edit_table">
            <% @authorized_stores.each do |store| %>
              <tr>
                <td><span class="item_title"><%= store.name %><span></td>
                <td><%= store.description %></td>
                <td><%= store.slug %></td>
                <% if store.online %>
                <td><%= link_to 'Take Offline', admin_store_path(store, store:{online:'false'}), method: 'patch', class: 'btn btn-danger', data: {confirm: 'Are you sure you want to take this store offline?'}%></td>
                <% else %>
                <td><%= link_to 'Bring Back Online', admin_store_path(store, store:{online:'true'}), method: 'patch', class: 'btn btn-success', data: {confirm: 'Are you sure you want to bring this store online?'}%></td>
                <% end  %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="inactive_stores">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Slug</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody id="admin_categories_edit_table">
            <% @offline_stores.each do |store| %>
              <tr>
                <td><span class="item_title"><%= store.name %><span></td>
                <td><%= store.description %></td>
                <td><%= store.slug %></td>
                <% if store.online %>
                <td><%= link_to 'Take Offline', admin_store_path(store, store:{online:'false'}), method: 'patch', class: 'btn', data: {confirm: 'Are you sure you want to take this store offline?'}%></td>
                <% else %>
                <td><%= link_to 'Bring  Back Online', admin_store_path(store, store:{online:'true'}), method: 'patch', class: 'btn btn-success', data: {confirm: 'Are you sure you want to bring this store online?'}%></td>
                <% end  %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="pending_approval">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Slug</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody id="admin_categories_edit_table">
            <% @stores_waiting_approval.each do |store| %>
              <tr>
                <td><span class="item_title"><%= store.name %><span></td>
                <td><%= store.description %></td>
                <td><%= store.slug %></td>
                <% if store.online %>
                <td><%= link_to 'Take Offline', admin_store_path(store, store:{online:'false'}), method: 'patch', class: 'btn', data: {confirm: 'Are you sure you want to take this store offline?'}%></td>
                <% else %>
                <td><%= link_to 'Bring  Back Online', admin_store_path(store, store:{online:'true'}), method: 'patch', class: 'btn btn-success', data: {confirm: 'Are you sure you want to bring this store online?'}%></td>
                <% end  %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





