<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;border-width:1px;border-style:solid;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-e3zv{font-weight:bold}
</style>
<table class="tg">
  <tr>
    <th class="tg-e3zv">Name: <br>Email: </th>
    <th class="tg-031e"><%= @current_user.full_name %><br><%= @current_user.email_address %><br>

    <th class="tg-031e"></th>
  </tr>
  <tr>
    <td class="tg-e3zv">Order #</td>
    <td class="tg-e3zv">Order created</td>
    <td class="tg-e3zv">Status</td>
  </tr>
  <% @orders.each do |order| %>
  <tr class = 'orders_smorders'>
      <td class="tg-031e" ><%= link_to order.id, order %></td>
      <td class="tg-031e"><%= order.user.created_at.strftime("%d %b. %Y") %></td>
      <td class="tg-031e"><%= order.status %></td>
    <% end %>
  </tr>
</table>
