</br>
</br>
</br>
</br>
</br>
</br>
<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "shipping" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>

<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "billing" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Billing Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>


<%= form_tag orders_path, method: :post do %>
<h3> Please Choose Shipping Address </h3>
<ul id='collection' >
  <%= collection_radio_buttons(:order, :shipping_address_id, @shipping_addresses, :id, :display) %>
</ul>
</br>
<h3> Please Choose Billing Address </h3>
<ul id='collection' >
  <%= collection_radio_buttons(:order, :billing_address_id, @billing_addresses, :id, :display) %>
</ul>

<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
submit order <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>
