<div id="new-order-container">
<%= form_tag orders_path, method: :post do %>
	<h3> Please Choose Shipping Address </h3>
	<ul id='collection' >
	  <%= collection_radio_buttons(:order, :shipping_address_id, @shipping_addresses, :id, :display, {checked: @shipping_addresses.first.id}, {}) %>
	</ul>
	</br>
	<h3> Please Choose Billing Address </h3>
	<ul id='collection' >
	  <%= collection_radio_buttons(:order, :billing_address_id, @billing_addresses, :id, :display, {checked: @billing_addresses.first.id}, {}) %>
	</ul>
	<h3> Total: <%= number_to_currency(@amount.to_i) %></h3>
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Your Order Total"
	          data-amount= <%= (@amount.to_f*100).to_i %> ></script>
<% end %>
<br/>
<%= form_tag new_address_path, method: :get, id: "cart-form" do %>
	<%= hidden_field_tag :category, "shipping" %>
	<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
		New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
	<% end %>
<% end %>
<%= form_tag new_address_path, method: :get, id: "cart-form" do %>
	<%= hidden_field_tag :category, "billing" %>
	<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
		New Billing Address <span class="glyphicon glyphicon-shopping-cart" ></span>
	<% end %>
<% end %>
</div>
