</br>
</br>
</br>
</br>
<h3> Please Choose Shipping Address </h3>
<div class="row">
  <% @shipping_addresses.each do |a| %>
      <div <div class="col-sm-1 col-md-3 address_buttons">
         <%= a.street_address %>
         <%= a.city %>,
         <%= a.state %>
         <%= a.zip %>
         <%= form_tag orders_path, method: :post do %>
         <%= hidden_field_tag :address, a.id %>
           <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
              use this address <span class="glyphicon glyphicon-shopping-cart" ></span>
           <% end %>
         <% end %>
         <br>
      </div>
    <%end%>

</div>



<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "shipping" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>

<h3> Please Choose Billing Address </h3>
<div class="row">
<% @billing_addresses.each do |a| %>



    <div <div class="col-sm-1 col-md-3 address_buttons">
       <%= a.street_address %>
       <%= a.city %>,
       <%= a.state %>
       <%= a.zip %>
       <%= form_tag orders_path, method: :post do %>
       <%= hidden_field_tag :address, a.id %>
         <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
            use this address <span class="glyphicon glyphicon-shopping-cart" ></span>
         <% end %>
       <% end %>
       <br>
    </div>
  <%end%>

</div>


<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "billing" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Billing Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>
