
</br>
</br>
</br>
</br>
</br>
</br>
<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "shipping" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>

<div id="checkout_page" >
<h1 id="checkout-cart-header"> Checkout </h1>
<table class="tg" >

    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Options</th>
      <th>Price</th>
      <th>Total  </th>
    </tr>

    <% cart.items.each do |item_id, options| %>

    <tr>
      <td> <%= cart.item(item_id).name %>  </td>
      <td> <%= options[0] %> </td>
      <td> <% options[1].each do |k, v| %>
              <%= k.singularize.capitalize %> - <%= v %>
           <% end %> </td>
      <td> <%= number_to_currency(cart.item(item_id).price, precision: 2) %> </td>
      <td> <%= number_to_currency(cart.line_item_price(item_id, options)) %> </td>
    </tr>
    <% end %>
  <tr>
    <td>  Subtotal </td>
    <td>  </td>
    <td>  </td>
    <td> <%= number_to_currency(@subtotal) %> </td>
  </tr>
>>>>>>> master

<%= form_tag new_address_path, method: :get do %>
<%= hidden_field_tag :category, "billing" %>
<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
Enter a New Billing Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>


<%= form_tag orders_path, method: :post do %>
<h3> Please Choose Shipping Address </h3>
<ul id='collection' >
  <%= collection_radio_buttons(:order, :shipping_address_id, @shipping_addresses, :id, :display, {checked: @shipping_addresses.first.id}, {}) %>
</ul>
</br>
<h3> Please Choose Billing Address </h3>
<ul id='collection' >
  <%= collection_radio_buttons(:order, :billing_address_id, @billing_addresses, :id, :display, {checked: @billing_addresses.first.id}, {}) %>
</ul>

<%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
submit order <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>
