<h1>Cart</h1>

<% @cart.items.each_pair do |id, quantity| %>
  <li id=<%= "item-#{id}"%>>
    <%= Item.find(id).name %>
    <%= quantity %>

    <!-- How to use form_for() with a cart? -->
    <form action='/update_quantity' method='POST'>
      <input type='number' min='1' max='100' name = 'quantity'/>
      <input type='hidden' name='item_id' value='<%=id%>'/>
      <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
      <input type='submit' value='Update Quantity'/>
    </form>
    <%= link_to "Remove", remove_item_path(item_id: id) %>
  </li>
<% end %>
