<h1>Cart</h1>

<% @cart.items.each_pair do |id, quantity| %>
  <li id=<%= "item-#{id}"%>>
    <%= Item.find(id).name %>
    <%= quantity %>

    <!-- How to use form_for() with a cart? -->
    <%= form_tag update_quantity_path, :method => :put do  %>
      <%= hidden_field_tag "item_id", id %>
      <%= number_field_tag "quantity", quantity, :min => 1, :max => 100 %>
      <%= submit_tag "update" %>
    <% end %>
    <!-- <form action='/update_quantity' method='POST'>
      <input type='number' min='1' max='100' name = 'quantity'/>
      <input type='hidden' name='item_id' value='<%=id%>'/>
      <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
      <input type='submit' value='Update Quantity'/>
    </form> -->
    <%= link_to "Remove", remove_item_path(item_id: id) %>
  </li>
<% end %>

<%= form_tag '/checkout', method: :get do %>
<%= button_tag(:class => "btn btn-default btn-sm", :id => "ckout_btn") do %>
   check out <span class="glyphicon glyphicon-usd" ></span>
<% end %>
<% end %>
