<h1 id="checkout-cart-header">Cart</h1>
<%= flash[:notice] %>

<% if cart.items.any? %>
  <table class="tg" id="cart_table">
    <tr>
      <th> Item Name </td>
      <th> Quantity </td>
      <th> Price </td>
      <th> Totals </td>
      <th> Delete </td>
    </tr>

  <% cart.items.each_pair do |id, quantity| %>
    <tr>
      <td> <%= cart.item(id).name %> </td>
      <td>
          <%= form_tag update_quantity_path, :method => :put do  %>
            <%= hidden_field_tag "item_id", id %>
            <%= number_field_tag "quantity", quantity, :min => 1, :max => 100 %>
            <%= submit_tag "update" %>
          <% end %> </td>
      <td> <%= number_to_currency(cart.item(id).price) %> </td>
      <td> <%= number_to_currency(cart.line_item_price(id, quantity)) %> </td>
      <td> <%= link_to "Remove", remove_item_path(item_id: id) %> </td>
    </tr>
  <% end %>
    <tr>
      <td colspan="4">Sub-total: </td>
      <td><%= number_to_currency(@subtotal) %></td>
    </tr>
    <tr>
      <td colspan="4">Tax: </td>
      <td><%= number_to_currency(@tax) %></td>
    </tr>
    <tr>
      <td colspan="4">Total: </td>
      <td><%= number_to_currency(@total) %></td>
    </tr>
  </table>
<% end %>
</br>

<%= form_tag "/orders/new", method: :get do %>
  <%= button_tag(:class => "btn btn-primary btn-sm", :id => "ckout_btn") do %>
     check out <span class="glyphicon glyphicon-usd" ></span>
  <% end %>
<% end %>
</br>
<%= form_tag categories_path, method: :get do %>
  <%= button_tag(:class => "btn btn-success btn-sm", :id => "continue_shopping_btn") do %>
     continue shopping <span class="glyphicon glyphicon-shopping-cart" ></span>
  <% end %>
<% end %>
