<h1>Cart</h1>
<%= flash[:notice] %>

<% @cart.items.each_pair do |id, quantity| %>
  <li id=<%= "item-#{id}"%>>
    <%= @cart.item(id).name %>
    <%= quantity %>
    <%= @cart.item(id).price%>

    <%= form_tag update_quantity_path, :method => :put do  %>
      <%= hidden_field_tag "item_id", id %>
      <%= number_field_tag "quantity", quantity, :min => 1, :max => 100 %>
      <%= submit_tag "update" %>
    <% end %>
    <%= link_to "Remove", remove_item_path(item_id: id) %>
  </li>
<% end %>

<%= form_tag '/checkout', method: :get do %>
  <%= button_tag(:class => "btn btn-default btn-sm", :id => "ckout_btn") do %>
     check out <span class="glyphicon glyphicon-usd" ></span>
  <% end %>
<% end %>
</br>
<%= form_tag categories_path, method: :get do %>
  <%= button_tag(:class => "btn btn-default btn-sm", :id => "continue_shopping_btn") do %>
     continue shopping <span class="glyphicon glyphicon-shopping-cart" ></span>
  <% end %>
<% end %>
