<h1> Checkout </h1>
<div class = "checkout_table">
<table id = "checkout_table">
  <div>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total  </th>
    </tr>
  </div>
    <% session[:cart].each do |item_id, quantity| %>
    <tr>
    <td> <%= Item.find(item_id).name %>  </td>
    <td> <%= quantity %> </td>
    <td> <%= Item.find(item_id).price %> </td>
    <td> <%= Item.find(item_id).price * quantity.to_i %> </td>
    </tr>
  <% end %>
  <tr>
    <td>  Subtotal </td>
    <td>  </td>
    <td>  </td>
    <td> <%= @subtotal %> </td>
  </tr>

  <tr>
    <td>  Tax </td>
    <td>  </td>
    <td>  </td>
    <td> <%= @tax %> </td>
  </tr>

  <tr>
    <td>  Total </td>
    <td>  </td>
    <td>  </td>
    <td> <%= @total %> </td>
  </tr>
</table>
</div>

<div class ="checkout_table" >
  <h2> How Will You Pay?</h2>
<br/>

<%= form_tag '/complete_order', method: :get do %>
<%= button_tag(:class => "btn btn-default btn-sm", :id => "pickup_btn") do %>
   on pick up <span class="glyphicon glyphicon-user" ></span>
<% end %>
<% end %>
<br/>
<p> or </p>
<br/>
<h3>With Credit Card</h3>



</div>
