</br>
</br>

<h1>  Please Enter an Address </h1>

  <%= form_for(@address.becomes(Address)) do |f| %>
    <%= render "layouts/errors", object: @address %>

    <div class="field">
      <%= f.label :street_address %><br>
      <%= f.text_field :street_address %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %><br>
      <section class='select'><%= f.select :state, options_for_select(us_states, @address.state)%></section>
    </div>
    <div class="field">
      <%= f.label :zip %><br>
      <%= f.text_field :zip %>
    </div>
  </br>
    <%= hidden_field_tag :category, @address.class %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>


    <%= button_to "Cancel", new_order_path, method: 'get' %>
