</br>
</br>
</br>
</br>

<h1> Your Addresses </h1>
<h2> Billing Addresses </h2>
<div class="row">
  <% @billing_addresses.each do |a| %>
  <div class="col-sm-1 col-md-3 address_buttons">
         <%= a.street_address %>
         <%= a.city %>,
         <%= a.state %>
         <%= a.zip %>
         <%= form_tag edit_address_path(a), method: :get do %>
         <%= hidden_field_tag :address, a.id %>
           <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
              edit address <span class="glyphicon glyphicon-shopping-cart" ></span>
           <% end %>
         <% end %>
         <br>
         <%= form_tag address_path(a), method: :delete do %>
         <%= hidden_field_tag :address, a.id %>
           <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
              Delete Address <span class="glyphicon glyphicon-shopping-cart" ></span>
           <% end %>
         <% end %>
      </div>
    <%end%>

</div>

<%= form_tag new_address_path, method: :get do %>
<%= button_tag(:class => "btn btn-success btn-lg", :id => "cart_button") do %>
Enter a New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>

<h2> Shipping Addresses </h2>
<div class="row">
  <% @shipping_addresses.each do |a| %>
  <div class="col-sm-1 col-md-3 address_buttons">
         <%= a.street_address %>
         <%= a.city %>,
         <%= a.state %>
         <%= a.zip %>
         <%= form_tag edit_address_path(a), method: :get do %>
         <%= hidden_field_tag :address, a.id %>
           <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
              edit address <span class="glyphicon glyphicon-shopping-cart" ></span>
           <% end %>
         <% end %>
         <br>
         <%= form_tag address_path(a), method: :delete do %>
         <%= hidden_field_tag :address, a.id %>
           <%= button_tag(:class => "btn btn-primary btn-sm", :id => "cart_button") do %>
              Delete Address <span class="glyphicon glyphicon-shopping-cart" ></span>
           <% end %>
         <% end %>
      </div>
    <%end%>

</div>

<%= form_tag new_address_path, method: :get do %>
<%= button_tag(:class => "btn btn-success btn-lg", :id => "cart_button") do %>
Enter a New Shipping Address <span class="glyphicon glyphicon-shopping-cart" ></span>
<% end %>
<% end %>
