<div id="item-show-page"
  <div class="row">
    <div class="col-sm-4 col-md-8">
      <%= image_tag @item.image.url(:medium), {class: "show_img"} %>
    </div>
    <div class="col-sm-4 col-md-4">
      <div id="add-to-cart-box">
        <div class="item-description">
          <h2 id="header"> <%= @item.name %> </h2>
          <p> <%= @item.description %> </p>
          <p> <b>Price:</b> <%= number_to_currency(@item.price) %> </p>
          <%= form_tag '/add_item', method: "post" do %>
          <div class = "labels">
            <% @item.options.each do |option| %>
              <% if !option.empty? %>
                <%= label_tag(option.first, option.first.capitalize) %>
                <%= select_tag("options[#{option.first}]", options_for_select(option.last.split(',').each_with_index.map {|name, index| [name,name]})) %><br/>
              <% end %>
            <% end %>
            Item takes <%= @item.timetoproduce %> Days to Produce

            <%= hidden_field_tag :item_id, @item.id %>
          </div>
          <%= button_tag(:class => "btn btn-success btn-sm", :id => "cart_button") do %>
             add to cart <span class="glyphicon glyphicon-shopping-cart" ></span>
          <% end %>
        <% end %>
       </div>
       </div>
       <%= link_to "< Shop This Store", stores_path(@store.slug) %>
    </div>
  </div>
</div>
