<div class="col-sm-4 col-md-3">
  <div class="thumbnail">
        <%= image_tag @item.image.url(:medium), {class: "menu_cart_img"} %>
        <!-- <img src="http://whatscookingamerica.net/History/RockyMtnOysters4.jpg" alt="Mountain View" style="width:auto;height:45%"> -->
    <div class="caption">
      <h4> <%= @item.name %> </h4>
      <p class="item_description"> <%= @item.description %> </p>
    </div>
    <div class="button">
      <%= form_tag '/add_item', method: :get do %>
        <%= hidden_field_tag :item_id, @item.id  %>
        <%= button_tag(:class => "btn btn-default btn-sm", :id => "cart_button") do %>
           add to cart <span class="glyphicon glyphicon-shopping-cart" ></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
