<div id="form">

<%= form_for [:admin, @category] do |form| %>
  <p><%= form.label :name %>:
  <%= form.text_field :name %></p>
  <p><%= form.label :description %>:
  <%= form.text_area :description %></p>

</div>
  <%= form.submit 'Save' %>
<% end %>
<%= link_to "Cancel", admin_categories_path %>
