<div id="form">
  <%= form_for [:admin, @category] do |form| %>
    <%= render "layouts/errors", object: @category%>
    <div id="name">
      <p>
        <div class='labels'><%= form.label :name %>:</div>
      <%= form.text_field :name %>
      </p>
      <p>
        <div class='labels'><%= form.label :description %>:</div>
      <%= form.text_area :description %>
      </p>
    </div>
    <div class='save'><%= form.submit 'Save' %></div>
  <% end %>
</div>
