<% @category.each do |c| %>
<h2> <%= c.name %> </h2>
<div class="row">
 <% c.items.each do |item| %>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
          <%= image_tag item.image.url(:medium), {class: "menu_cart_img"} %>
      <div class="caption">
        <h4> <%= item.name %> </h4>
        <h4> <%= link_to item.store.name, stores_path(item.store.name) %> </h4>
        <p class="item_description"> <%= item.description %></p>
         <p>Price: <%= number_to_currency(item.price) %> </p>
      </div>
      <div class="button">
        <%= form_tag '/add_item', method: :get do %>
          <%= hidden_field_tag :item_id, item.id  %>
          <%= button_tag(:class => "btn btn-default btn-sm", :id => "cart_button") do %>
             add to cart <span class="glyphicon glyphicon-shopping-cart" ></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% end %>
