	<div class="store-header">
  	<div class="store-name">
  		<h2 id="store-name"> <%= @category.name.titleize %> </h2>
  	</div>
	</div>
  <div class="store-description">
  	<%= @category.description %>
 	</div>
 	<div class="store-items-container">
 		<% @category.items.each do |item| %>
 			<div class="store-item">
 				<%= link_to item.name, item_path(item) %>
 				<%= link_to (image_tag item.image.url(:medium)), item_path(item) %><br/>
 				<%= link_to item.store.name, stores_path(item.store.slug) %><br/>
 				<%= item.description %>
 			</div>
 		<% end %>
 	</div>
