<!DOCTYPE html>
<html>
  <head>
    <title>DinnerDash</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink='true'>

    <div id="background">
      <div class='img-responsive'><%= image_tag('mountain.jpg', :class => 'stretch') %></div>
    </div>

    <div id="main-header">
    <%= render "partials/header" %>
    </div>

    <div id="main-background">
      <div id="mainContent">
        <%= yield %>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>
