<!DOCTYPE html>
<html>
  <head>
    <title>Dope Threads</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink='true'>

    <div id="main-header">
    <%= render "partials/header" %>
    </div>

      <div id="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>
