<!DOCTYPE html>
<html>
  <head>
    <title>Dope Threads</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
    <script src="/assets/masonry.pkgd.min.js"></script>
    <script src="/assets/imagesloaded.pkgd.min.js"></script>
  </head>
  <body data-no-turbolink='true'>

    <div id="main-header">
    <%= render "partials/header" %>
    </div>

      <div id="container">
        <%= yield %>
      </div>
    </div>
    <script>
      $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script>
    <script>
      var container = document.querySelector('#masonry-grid');
      var msnry = new Masonry( container, {
        columnWidth: ".grid-sizer",
        itemSelector: '.grid-item'
      });
      imagesLoaded( container, function() {
        msnry.layout();
      });
    </script>

  </body>
  <footer>
  </footer>
</html>
