<!DOCTYPE html>
<html>
  <head>
    <title>DinnerDash</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background">
      <div class='img-responsive'><%= image_tag('mountain.jpg', :class => 'stretch') %></div>
    </div>

    <%= render "layouts/header" %>

    <div id="mainContent">
      <%= flash.alert %>
      <%= yield %>
    </div>
  </body>
  <footer>
    <%= link_to 'Admin Dashboard', admin_dashboard_path if can? :create, User %>
  </footer>
</html>
